.mainKontenCreateEventTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    color: black;
    height: auto;
}
